---
import { times } from "@acdh-oeaw/lib";

import Card from "@/components/card.astro";
import CardContent from "@/components/card-content.astro";
import CardImage from "@/components/card-image.astro";
import CardTitle from "@/components/card-title.astro";
import Grid from "@/components/grid.astro";
import Hero from "@/components/hero.astro";
import HeroTagline from "@/components/hero-tagline.astro";
import HeroTitle from "@/components/hero-title.astro";
import Section from "@/components/section.astro";
import { links } from "@/config/navigation.config";
import PageLayout from "@/layouts/page-layout.astro";

const _times = times;

const nav_links = [links.nestroylang, links.projectvienna];
---

<PageLayout title="Home">
	<Hero>
		<HeroTitle>Nestroy Corpus Analysis</HeroTitle>
		<HeroTagline>
			This page is about two projects dealing with the investigation of the language and the
			socio-linguistic setting used in the theatrical plays of the Austrian singer, actor and
			playwright Johann Nepomuk Eduard Ambrosius Nestroy (1801 – 1862), which are generally
			considered the literary highlight of the Old-Viennese „Volkstheater“.
		</HeroTagline>
	</Hero>

	<Section>
		<Grid>
			{
				nav_links.map((nav_link) => {
					return (
						<Card>
							<figure>
								<a aria-hidden="true" href="{card.href}" tabindex={-1}>
									<CardImage alt="" src={nav_link.image.image} />
								</a>
								<figcaption class="px-4 py-1 text-right text-sm text-neutral-500">
									CCBY 4.0
								</figcaption>
							</figure>
							<CardContent>
								<CardTitle>{nav_link.title}</CardTitle>
								<div class="justify-self-end">
									<a
										class="inline-flex rounded border px-3 py-1 text-sm transition hover:bg-muted-background hover:text-muted-foreground"
										href={nav_link.href}
									>
										Read more
									</a>
								</div>
							</CardContent>
						</Card>
					);
				})
			}
		</Grid>
	</Section>
</PageLayout>
