---
import ContentPage from "@/components/content-page.astro";
import { links } from "@/config/navigation.config";
import PageLayout from "@/layouts/page-layout.astro";
---

<PageLayout title={links.entities_places.label}>
	<ContentPage title={links.entities_places.title} layout="full-width">
		<div id="intro">
			<p>Under Construction!</p>
		</div>
		<div id="persons_table" class=""></div>
		<script>
			import { build_table, build_linklist_cell } from "./scripts/make_map.mjs";
			let table_cfg = {
				layout: "fitColumns",
				width: "100%",
				headerFilterLiveFilterDelay: 600,
				responsiveLayout: "collapse",
				paginationCounter: "rows",
				pagination: "local",
				paginationSize: 10,
				langs: {
					default: {
						pagination: {
							counter: {
								showing: "",
								of: "of",
								rows: "",
							},
						},
					},
				},
			};
			let table_id = "#persons_table";
			let json_url =
				"https://raw.githubusercontent.com/NestroyCA/baserow-entities/main/json_dumps/persons.json";
			build_table(table_id, table_cfg, json_url);
		</script>
	</ContentPage>
</PageLayout>
