---
import ContentPage from "@/components/content-page.astro";
import { links } from "@/config/navigation.config";
import PageLayout from "@/layouts/page-layout.astro";
---

<PageLayout title={links.entities_places.label}>
	<ContentPage title={links.entities_places.title} layout="full-width">
		<div id="intro">
			<p>Under Construction!</p>
		</div>
		<div id="persons_table" class="h-screen"></div>
		<script>
			import { build_table, build_linklist_cell } from "./scripts/make_map.mjs";
			let langs = {
				default: {
					pagination: {
						counter: {
							showing: "",
							of: "of",
							rows: "",
						},
					},
				},
			};

			/* this cfg describes some of the features of
			the tabulator table and it't functions */

			let columns = [
				{
					headerFilter: "input",
					title: "name",
					field: "name",
					formatter: "plaintext",
					resizable: false,
				},
				{
					headerFilter: "input",
					title: "occurences",
					field: "occurences",
					formatter: function (cell) {
						return build_linklist_cell(this, cell);
					},
					resizable: false,
				},
			];
			let tabulator_cfg = {
				maxHeight: "70vh",
				layout: "fitColumns",
				width: "100%",
				headerFilterLiveFilterDelay: 600,
				responsiveLayout: "collapse",
				paginationCounter: "rows",
				pagination: "local",
				langs: langs,
				columns: columns,
			};

			let table_cfg = {
				tabulator_cfg: tabulator_cfg,
				table_div_html_id: "#persons_table",
			};
			let json_url =
				"https://raw.githubusercontent.com/NestroyCA/baserow-entities/main/json_dumps/persons.json";
			build_table(table_cfg, json_url);
		</script>
	</ContentPage>
</PageLayout>
