---
import PageTitle from "@/components/page-title.astro";
import Section from "@/components/section.astro";

interface Props {
	title: string;
	layout?: "default" | "full-width";
}

const { title, layout = "default" } = Astro.props;
---

<Section variant="header">
	<PageTitle>{title}</PageTitle>
</Section>

<Section>
	<div class={["prose dark:prose-invert", layout === "default" ? "max-w-3xl" : ""].join(" ")}>
		<slot />
	</div>
</Section>
